.toFunc {
    opacity: 0;
    position: absolute;
    top: 85px;
    left: 170px;
    animation: toFuncMachine 3s ease-in-out 0.25s 1;
    z-index: 100;
}

@keyframes toFuncMachine {
    0% {
        opacity: 0;
        top: 85px;
        left: 170px;
    }
    10% {
        opacity: 1;
    }
    33% {
        top: 85px;
        left: 240px;
    }
    66% {
        top: 45px;
        left: 240px;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 45px;
        left: 300px;
    }
}
