/*****INPUTS AND SELECT*****/

select {
    font-size: 14px;
    border: 1px #d9d9d9 solid;
    margin: 0px;
    width: 120px;
    border-radius: 2px;
    background-color: #f1f1f1;
}

input:not([type='checkbox']) {
    appearance: none;
    border-radius: 2px;
    display: block;
    margin: 0px;
    padding: 5px;
    width: 120px;
}

label {
    display: block;
    width: 120px;
}

input[type='button'] {
    width: 220px;
    margin-bottom: 10px;
    background-color: #4682B4;
    color: #f7f7f7;
}

label {
    font-size: 14px;
    margin-bottom: 7.5px;
}
