/*****INPUTS AND SELECT*****/

select {
    font-size: 16px;
    border: 1px #d9d9d9 solid;
    margin: 0px;
    width: 120px;
    border-radius: 2px;
    background-color: #e8e8e8;
}

input:not([type='checkbox']) {
    appearance: none;
    border-radius: 2px;
    display: block;
    margin: 0px;
    padding: 5px;
    width: 120px;
	height: 47px;
	font-size: 20px;
}

label {
    display: block;
    width: 120px;
}

input[type='button'] {
    width: 240px;
    margin-bottom: 10px;
    background-color: #4682B4;
    color: #f7f7f7;
    cursor: pointer;
}

label {
    font-size: 16px;
    margin-bottom: 7.5px;
}
