/*Font family*/

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
option,
select,
p {
    font-family: Helvetica, sans-serif;
}

/*****MAIN DISPLAY*****/

aside#table {
    position: relative;
    top: 20px;
    left: 20px;
}

article {
    position: relative;
}

article:nth-of-type(1) {
    position: absolute;
    top: 20px;
    left: 260px;
    display: flex;
}

article:nth-of-type(2) {
    position: absolute;
    top: 223px;
    left: 260px;
}

/*****GRAPH AREA****/

#status {
    position: absolute;
    top: 96px;
    right: 0px;
    width: 470px;
    height: 100px;
    background-color: #e4e4e4;
}

#graphFiller {
    width: 470px;
    height: 402.5px;
    background-color: #e4e4e4;
}

/******FUNCTION MACHINE*****/

#functionMachine {
    width: 340px;
    height: 89px;
    margin-right: 10px;
    padding-left: 20px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
}

.katex {
    font-size: 40px;
}

/*****STATUS BAR*****/

#status {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#status p {
    font-size: 30px;
}

/*******TEXT ANIMATIONS*******/
@keyframes textDisappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
