@import 'https://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

/*Font family*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

p,
td,
th,
input,
button,
label,
option,
select {
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: 20px;
	margin-bottom: 7.5px;
}


/*****MAIN DISPLAY*****/
aside#table {
	position: relative;
	top: 20px;
	left: 20px;
}

article:nth-of-type(1) {
	position: absolute;
	top: 20px;
	left: 340px;
	display: flex;
	flex-wrap: wrap;
	width: 400px;
}

article:nth-of-type(2) {
	position: absolute;
	top: 243px;
	left: 340px;
}

/******FUNCTION MACHINE*****/
#functionMachine {
	width: 340px;
	height: 89px;
	margin-right: 10px;
	padding-left: 80px;
	padding-top: 5px;
	background-image: url(../img/functionMachineStill.gif);
	background-repeat: no-repeat;
	color: #3e3e3e;
	display: flex;
	align-items: center;
}

.katex {
	font-size: 25px;
}


/*****STATUS BAR*****/
#lowContain {
	display: flex;
	flex-wrap: nowrap;
}

#status {
	background-image: url(../img/monitor.gif);
	background-size: 300px;
	width: 300px;
	height: 100px;
	filter: grayscale(100%);
	background-repeat: no-repeat;
	color: #f7f7f7;
}

#status p {
	margin-left: 40px;
	margin-top: 30px;
	font-size: 16px;
}

#statusConfig {
	margin-top: 5px;
}

#statusConfig label {
	font-size: 14px;
}

#status {
	align-items: center;
}

/*Animation paragraphs*/
#numContainer p {
	position: absolute;
	opacity: 0;
	z-index: 100;
	font-size: 20px;
	background-color: #c6c6c6;
	padding: 5px;
	border-radius: 15px;
}


/*Color for the point on the graph*/

.point {
	fill: #4682b4;
}

#graph * {
	font-family: sans-serif;
}

/*
INSTRUCTIONS MODAL
*/

#shade {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(10, 10, 10, 0.3);
	width: 100%;
	height: 2000px;
	overflow: none;
	z-index: 90;
}

#instructions {
	background-color: #dddddd;
	width: 600px;
	position: absolute;
	top: 15%;
	left: 15%;
	z-index: 100;
	padding: 1.5%;
	box-shadow: 0px 0px 5px 2.5px #888888;
}

#instructions h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

#instructions p {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.3;
}

#openHelp {
	margin-top: 10px;
}


/*******TEXT ANIMATIONS*******/

@keyframes textDisappear {
	0% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes textAppear {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
