select,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: #d9d9d9 1px solid;
    border-radius: 2.5px;
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100px
}

table {
    border: 1px #0F0F0F solid;
}

td {
    border: 1px #0F0F0F solid;
}

tr td:nth-of-type(2){
    width: 100px;
}
