/*Font family*/
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
option,
select{
    font-family: Helvetica, sans-serif;
}

/*****MAIN DISPLAY*****/
main {
    width: 720px;
}

aside#table {
    position: relative;
    top: 20px;
    left: 20px;
}

article {
    position: relative;
}

article:nth-of-type(1){
    position: absolute;
    top: 20px;
    left: 260px;
    display: flex;
}

article:nth-of-type(2){
    position: absolute;
    top: 130px;
    left: 260px;
}


#graphFiller {
    width: 470px;
    height: 410px;
    background-color: #e4e4e4;
}

/******FUNCTION MACHINE*****/
#functionMachine {
    width: 340px;
    height: 100px;
    margin-right: 10px;
    background-color: #606366;
}
