/*Font family*/

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
option,
select,
p,
td,
th {
    font-family: Helvetica, sans-serif;
}


/*****MAIN DISPLAY*****/

aside#table {
    position: relative;
    top: 20px;
    left: 20px;
}

article {
    position: relative;
}

article:nth-of-type(1) {
    position: absolute;
    top: 20px;
    left: 260px;
    display: flex;
}

article:nth-of-type(2) {
    position: absolute;
    top: 223px;
    left: 260px;
}


/*****GRAPH AREA****/

#graphFiller {
    width: 470px;
    height: 402.5px;
    background-color: #4682B4;
    color: #f7f7f7;
}


/******FUNCTION MACHINE*****/

#functionMachine {
    width: 340px;
    height: 89px;
    margin-right: 10px;
    padding-left: 80px;
    padding-top: 5px;
    background-image: url(../img/functionMachineStill.gif);
    background-repeat: no-repeat;
    color: #3e3e3e;
    display: flex;
    align-items: center;
}

.katex {
    font-size: 25px;
}


/*****STATUS BAR*****/

#status {
    position: absolute;
    top: 95px;
    right: 15px;
    width: 470px;
    height: 100px;
    background-image: url(../img/monitor.gif);
    background-repeat: no-repeat;
    color: #f7f7f7;
}

#status p {
    margin-left: 37.5px;
    font-size: 24px;
}

#statusConfig {
    margin-top: 5px;
}

#status {
    display: flex;
    padding-left: 20px;
    align-items: center;
}


/*Animation paragraphs*/

#numContainer p {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

/*Color for the point on the graph*/
.point {
    fill: #4682b4;
}

#graph * {
    font-family: sans-serif;
}

/*******TEXT ANIMATIONS*******/

@keyframes textDisappear {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
